.layersDiv {
    text-align: left;
    padding-left: 20px;
}

.baseLbl,.dataLbl {
    font-weight: 600;
    padding: 5px;
}

#mapcontrols, #searchdiv {
    display: none;
}

#parks, #roadsntrails, #help_txt {
    padding-left: 25px;
}

#locbutton-mobile {
    display: none;
}

.mylocation {
    float: left;
}

@media screen and (max-width: 780px) {
 
 header {
    display: none;
 }
 #locbutton-mobile {
    position: absolute;   
    top: 300px;
    left: 10px;
    height: 40px;
    width: 200px;
    display: block;
    }
    
 aside {
    top: 330px;
    }
}

#map3d, #widget-streetview {
    border: solid black 1px;
    height: 300px;
    
}