.layersDiv {
    text-align: left;
    padding-left: 20px;
}

.baseLbl,.dataLbl {
    font-weight: 600;
    padding: 5px;
}

#mapcontrols.ui-buttonset {
    visibility: hidden;
}

#parks, #roadsntrails {
    padding-left: 25px;
}