.layersDiv {
    text-align: left;
    padding-left: 20px;
}

.baseLbl,.dataLbl {
    font-weight: 600;
    padding: 5px;
}

#mapcontrols, #searchdiv {
    /*visibility: hidden;*/
    display: none;
}

#parks, #roadsntrails, #help_txt {
    padding-left: 25px;
}



#mylocation {
    float: left;
}